<div class="slides">
  <div id="title" class="slide header">
    <h1>So how about Treavor</h1>
  </div>

  <div id="slide1" class="slide">
    <div class="title">
      <h1>Hiking with the Family</h1>
      <p>
        One of Treavor's favorite things is to go out and hike with his family
        including his Wife, Kaitlin, his daughter Analiese, and sometimes even a
        wild Roypa appears.
      </p>
    </div>
    <img src="/img/familyhike.jpg" />
    <img src="/img/hikewaterfall.jpg" />
  </div>

  <div id="slide2" class="slide">
    <div class="title">
      <h1>Adventure</h1>
      <p>
        Sometimes Treavor is able to get out to places that are a little to
        exhilarating for small humans.
      </p>
    </div>
    <img src="/img/banffCanada.jpg" />
    <img src="/img/zipline.jpg" />
  </div>

  <!-- <div id="slide3" class="slide">
    <div class="title">
      <h1>Technical Chops</h1>
      <p>
      </p>
    </div>
  </div> -->

  <div id="slide4" class="slide header">
    <h1>Resume</h1>
    <div class="resume">
      <hr />
      <app-pdf-viewer pdf="assets/pdf/Resume-2024.pdf"></app-pdf-viewer>
    </div>
  </div>
</div>
